* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    height: 700px;
    background: linear-gradient(to bottom, #00ffff 0%, #ff66ff 100%);
}

#calculator-div {
    margin-top: 100px;
    border: 1px solid rgb(250, 246, 246);
    border-radius: 8px;
    background: linear-gradient(to bottom, #ffffff 0%, #33ccff 100%);
}

#calculator {
    font-weight: bolder;
}

#calculator:hover {
    color: blue;
    text-shadow: 1px 3px 0 #848282;
}

#display {
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    text-align: end;
    padding: 5px;
}

.button {
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    width: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: azure;
}

.button:hover {
    background-color: rgb(29, 196, 243);
    color: white;
}